.container {
  max-width: 1140px;
  margin: 0
  border: 3px pink;
  background-color: steelblue;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  clear: both;
}

.header-container {
  max-width: 1140px;
  margin: 0;
  background-color: black;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.header {}

.header__nav {

}


  .header__logo {
    display: block;
    position: absolute;
    left:auto;
    top: auto;
  max-width: 80%;
  }
/*
  .header__nav-list {
    background-color: black;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    content: "";
}
*/
  .header__nav-link {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-family: Karla-bold, helvetica,arial, sans-serif;
    font-style: bold;
    text-transform: uppercase;
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    content: "";
  }








  .banner {
    background-image: url("images/kayak-bkgd.jpg");
    background-size: cover;
    background: linear-gradient (to top,
      rgba (0,0,0, .25) 0%;
      )
  }


.banner__title {
  padding: 36px;
  text-align: center;
}

.banner__span {
  display: block;
}

.banner__span--enjoy {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 120%;
  font-family: karla, helvetica, arial, sans-serif;
  color: white;
}

.banner__span--outdoors {
  font-size: 80px;
  line-height: 175%;
  font-family: Pacifico, cursive;
  color: white;
}

.banner__span--water {
  font-size: 60px;
  line-height: 150%;
  font-family: pacifico, cursive;
  color: white;
}

.transbox {
  margin: 20%;
  padding: 20px;

}
.transbox {
  margin: 5%;
  background-color: black;
  border: 1px solid black;
  opacity:0.6;
  filter: alpha(opacity=60);
}


.btn-signup {
  color: white;
  background-color: #e2574c;
  font-family: karla, helvetica, arial, sans-serif;
  font-style: bold;
  border-radius: 75px;
  border: none;
  font-size: 20px;
  padding: 12px 20px;
  text-transform: uppercase;
  margin: 50px auto;
  display: block;

}


.main {
  margin: 5px;
}

/*img {
  max-width: 100%;
}*/

.images-in-a-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;

}

.images-in-a-box img {
  width: 100%;
  margin: 5px 0;
  box-shadow: grey 2px 2px;
}


.section-title {
  font-family: pacifico, cursive;
  font-size: 30px;
  text-align: center;
}

.section-body-paragraphs {
  text-align: center;
  width: 100%;
  font-family: karla, helvetica, sans-serif;
  color: #2b2b2b;
}

.banner-sub-head {
  text-align: center;
  width: 100%;
  font-family: karla, helvetica, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.pricing-table {

  }


  .footer {
    font-family: karla, helvetica, sans-serif;
  }




/*
@media (min-width: 600px) {
  .paragraph-thats-supposed-to-change {
    max-width: 50%
    text-align: left;
    float: left;
  }
}
*/

@media (min-width: 600px) {

.images-in-a-box img {
    max-width: 30%;
  }

    .section-body-paragraphs {
      text-align: center;
    }

 .pricing-table {
  float: right;
  position: relative;
}

  .rental-paragraph {
    text-align: left;
    max-width: 50%;
  }


  .header__logo {
    position: fixed;
  left: 0;
  top: 10px;
  max-width: 30%;
  }

    .banner__title {
      padding: 48px;
    }

  .header__nav {
    position: fixed;
    right: 0;
    top: 0;
  }
}

/*@media (min-width: 1180px) {
  .banner__title {
    padding: 62px
  }
}*/
