.container {
  max-width: 1140px;
  margin: auto;
  background-color: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  clear: both;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
  background-color: black;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}


.header {}

  .header__logo {
    display: block;
    margin: 0 auto;
    max-width: 70%;
  }

  .header__nav-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: Karla-bold, helvetica,arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    list-style: none;
    margin: 0 auto;
    content: "";
    padding: 20px;
  }
  .header__nav-link {
    display: flex;
    justify-content: space-between;
  }

  .header__nav ul li {
    display: inline-block;
    list-style: none;
  }


  .banner {
    background: linear-gradient(
      to top,
    rgba(0,0,0, 0.35) 0%,
    rgba(0,0,0, 0.25) 100%),
    url("images/kayak-bkgd.jpg");
    background-size: cover;
    padding: 30px;
  }

.banner__title {
  padding: 36px;
  text-align: center;
}

.banner__span {
  display: block;
}


.banner__span--enjoy {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 120%;
  font-family: karla, helvetica, arial, sans-serif;
  color: white;
}

.banner__span--outdoors {
  font-size: 80px;
  line-height: 175%;
  font-family: Pacifico, cursive;
  color: white;
}

.banner__span--water {
  font-size: 60px;
  line-height: 150%;
  font-family: pacifico, cursive;
  color: white;
}

.transbox {
  margin: 20%;
  padding: 20px;

}
.transbox {
  margin: 5%;
  background-color: black;
  border: 1px solid black;
  opacity:0.6;
  filter: alpha(opacity=60);
}


.btn-signup {
  color: white;
  background-color: #e2574c;
  font-family: karla, helvetica, arial, sans-serif;
  border-radius: 75px;
  border: none;
  font-size: 20px;
  padding: 12px 20px;
  text-transform: uppercase;
  margin: 50px auto;
  display: block;
}



.main {
  margin: 5px;
}

/*img {
  max-width: 100%;
}*/

.images-in-a-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;

}

.images-in-a-box img {
  width: 100%;
  margin: 5px 0;
  box-shadow: grey 2px 2px;
}


.section-title {
  font-family: pacifico, cursive;
  font-size: 30px;
  color: #646464;
  text-align: center;
}

.section-body-paragraphs {
  text-align: center;
  width: 100%;
  font-family: karla, helvetica, sans-serif;
  color: #2d2d2d;
}

.banner-sub-head {
  text-align: center;
  width: 100%;
  font-family: karla, helvetica, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.pricing-table {
  border-collapse: collapse;
  border-color: red;
  border-top: 5px;
  font-family: karla, helvetica, sans-serif;
  width: 100%;
}
.pricing-table th .pricing-table td {
  border: 5px red;
}

th {
border: 5px red;
  background-color: #e6e6e6;
  padding: 20px;
}

td {
  border: 5px red;
}

tr:hover {
  background-color: #fbf6d9
}

td:nth-child(n+2) {
  text-align: center;
}

  .footer {
    font-family: karla, helvetica, sans-serif;
  }


.map {
  width: 100%;
  margin-top: 15px;
}


/*
@media (min-width: 600px) {
  .paragraph-thats-supposed-to-change {
    max-width: 50%
    text-align: left;
    float: left;
  }
}
*/

@media (min-width: 600px) {

.images-in-a-box img {
    max-width: 30%;
  }

  .btn-signup:hover {
    background-color: #b64036;
    transition-duration: 3s;
    transition-timing-function: ease;
  }
    .section-body-paragraphs {
      display: block;
      margin: 0 auto;
      max-width: 60%;
    }

  .rental-paragraph {
    overflow: auto;
    text-align: left;
    max-width: 45%;
    float: left;
    }

 .pricing-table {
  float: right;
  width: 45%;
}

.rental-paragraph::after {
  visibility: hidden;
  display: block;
  content:"";
  clear: both;
  height: 0;

}

.pricing-table::after {
  visibility: hidden;
  display: block;
  content:"";
  clear: both;
  height: 0;

}

.header-container {
  position: fixed;
  width: 100%;
  color: black;

}
  .header__logo {
    position: fixed;
  left: 0;
  top: 10px;
  max-width: 30%;
  }

    .banner__title {
      padding: 48px;
    }

  .header__nav {
    position: fixed;
    right: 0;
    top: 0;
  }
}


@media (min-width: 1140px) {

}
